{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-expressions": [
      "error",
      { "allowShortCircuit": true }
    ],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [ ".js", ".jsx"] }
    ],
    "react/jsx-no-bind": [
      1,
      { "allowBind": true }
    ]
  },
  "globals": {
    "Kakao": true
  }
}

