# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules/
bower_components/
*.log
*.gz
dist
coverage/*
!coverage/*.svg

# idea
.idea/

.tmp
.sass-cache
