# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules/
bower_components/
*.log
*.gz
coverage/*
!coverage/*.svg

# idea
.idea/

# VCS
.git
.svn

.tmp
.sass-cache

# dev
node_modules
src
demo
.babelrc
.gitignore
.travis.yml
tsconfig.json
rollup.config.js
rollup.dev.config.js
setupEnzyme.ts
jest.config.js
.travis.yml
.gitattributes
.eslintrc.js
.eslintignore
